@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@theme {
    --background-image-gradient-principal: linear-gradient(180deg, #9B7EBD 0%, #7B5E9D 100%); 
    --color-sidebar-main: #7B5E9D; 
    --color-logo: #4A3462; 
    --color-button-login: #9176af; 
    --color-button-hover: #6F4685; 
    --font-title: "Space Grotesk", sans-serif;
    --font-text: "Inter", sans-serif;

}

.input-container{
    @apply flex items-center gap-4 border-2 border-gray-300 rounded-xl px-4 py-3 w-125 mb-3 focus-within:border-purple-400 focus-within:outline-none max-md:w-75 max-md:mx-1.25;
}

.button-login{
    @apply bg-color-button-login text-white font-bold py-2 px-4 rounded ;

}

.text-container{
    @apply bg-[#EBE4DB] font-text flex-1 flex flex-col items-center justify-center max-md:py-8
}

.logo-aside{
    @apply bg-gradient-principal flex flex-col items-center justify-center w-1/4 gap-6 max-md:w-full max-md:py-8;
}
.button-signup{
    @apply flex items-center justify-center gap-5 rounded-xl px-4 py-3 w-37.5 mb-3 bg-button-signup border border-gray-300 text-white;
}